body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.site-content {
  overflow-x: hidden;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.title-underline-gradient {
  position: relative;
  &:after {
  content: "";
    position: absolute;
    z-index: 0;
    width: 100px;
    height: 3px;
    background: linear-gradient(45deg, #E7DA36 0%, #E48F5F 20%, #AE63A7 50%, #00C0E9 100%);
    bottom: -87px;
    left: 50%;
    margin-left: -50px;
  }
}
.title-topline {
  position: relative;
  padding-top: $spacer * 1.5;
  margin-top: $spacer * 1.5;
  &:before {
    position: absolute;
    width: 40px;
    content: "";
    border-top: 2px solid;
    top: 0;
  }
  &.title-topline-center {
    &:before {
      left: 50%;
      margin-left: -25px;
    }
  }
  &.title-topline-md-left {
    &:before {
      @include media-breakpoint-up('md') {
        left: 0;
        margin-left: 0;
      }
    }
  }
}
.opacity-72 {
  opacity: 0.72 !important;
}
.csiro-logo {
  img {
    width: 248px;
    height: auto;
    max-width: 100%;
  }
}