.section-proposition {
  h2 {
    @include media-breakpoint-down('md'){
      font-size: 35px;
    }
  }
  ul {
    margin-left: -20px;
  }
  .csiro-logo {
    @include media-breakpoint-up('xl'){
      padding-right: 50px;
    }
    img {
      width: 248px;
      max-width: 100%;
      height: auto;
    }
  }
}