.section-works {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  .works-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    height: 494px;
  }
  .works-content {
    max-width: 500px;
    margin-right: 25%;
    @include media-breakpoint-down('sm'){
      margin: auto;
    }
  }
}